<nav class="navbar fixed-top navbar-expand-lg bg-gradient">
    <div class="container">
      
      <img src="roomprologo-v2-white.png" alt=""  style="padding-right: 40px;width:90px;margin-left: -40px;">
     
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
          <a class="nav-link" routerLink="/meeting-rooms" routerLinkActive="active-link">Meeting Rooms</a>
          <a class="nav-link" routerLink="/my-bookings" routerLinkActive="active-link">My bookings</a>
          <a class="nav-link" routerLink="/login" routerLinkActive="active-link">Login</a>
          
          
        </div>
      </div>
    </div>
  </nav>
  <br><br><br><br>