<div class="container-fluid p-0">
    <div class="row flex-nowrap m-0">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary-subtle">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <span style="font-weight: bold;color: black;" class="fs-5 d-none d-sm-inline">Menu</span>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                
                    <li>
                        <a style="color: black;font-weight: bold;" href="#submenu_1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Room Setup</span> 
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu_1">
                            <li class="w-100">
                                <div style="color: black;cursor: pointer" href="#" class="nav-link px-0" (click)="setChoosenItem('addroom')"> 
                                    <span class="d-none d-sm-inline">➕ Add New Room</span> 
                                </div>
                            </li>
                            <li>
                                <div style="color: black;cursor: pointer" href="#" class="nav-link px-0" (click)="setChoosenItem('deleteroom')"> 
                                    <span class="d-none d-sm-inline">🗑 Delete Existing Room</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                    
                    <li>
                        <a style="color: black;font-weight: bold;" href="#submenu_2" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Room Status & Availability</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu_2">
                            <li class="w-100">
                                <div style="color: black;cursor: pointer" href="#" class="nav-link px-0" (click)="setChoosenItem('cleaning')"> 
                                    <span class="d-none d-sm-inline">🧹 Cleaning Periods</span> 
                                </div>
                            </li>
                            <li>
                                <div style="color: black;cursor: pointer" href="#" class="nav-link px-0" (click)="setChoosenItem('maintenance')"> 
                                    <span class="d-none d-sm-inline">🛠 Maintenance</span>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a style="color: black;font-weight: bold;" href="#submenu_3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Stats</span>
                        </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu_3">
                            <li class="w-100">
                                <div style="color: black;cursor: pointer" href="#" class="nav-link px-0" (click)="setChoosenItem('userstats')"> 
                                    <span class="d-none d-sm-inline">👥 User Stats</span> 
                                </div>
                            </li>
                            <li>
                                <div style="color: black;cursor: pointer" href="#" class="nav-link px-0" (click)="setChoosenItem('bookingtrends')"> 
                                    <span class="d-none d-sm-inline">📈 Booking Trends</span>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <hr>
            </div>
        </div>

        <!-- Main content area -->
        


        <div [ngSwitch]="choosenItem">
            <div *ngSwitchCase="">
                <div class="col py-3">
                    <h4>Welcome Admin!</h4>
                        <p>Before you begin, here are some quick tips:</p>
                        <ul>
                            <li>Add new rooms by clicking the "Add New Room" option in the menu.</li>
                            <li>Delete rooms from the "Delete Existing Room" section.</li>
                            <li>Manage room availability and cleaning periods efficiently.</li>
                        </ul>
                        <p>Click on any option in the menu to get started.</p>
                </div>
            </div>

            <app-addrooms *ngSwitchCase="'addroom'"></app-addrooms>
            <app-deleteroom *ngSwitchCase="'deleteroom'"></app-deleteroom>
            <app-cleaningperiods *ngSwitchCase="'cleaning'"></app-cleaningperiods>
            <app-maintenance *ngSwitchCase="'maintenance'"></app-maintenance>
            <app-userstats *ngSwitchCase="'userstats'"></app-userstats>
            <app-bookingtrends *ngSwitchCase="'bookingtrends'"></app-bookingtrends>
            
        </div>
        



    </div>
</div>
