<div class="text-center my-4 p-5">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Room Name</th>
        <th scope="col">Request Date</th>
        <th scope="col">Start Date</th>
        <th scope="col">Cleaning Duration (min)</th>
        <th scope="col">User Message</th>
        <th scope="col">Status</th>
        <th scope="col">User First Name</th>
        <th scope="col">User Last Name</th>
        <th scope="col">Approve</th>
        
      </tr>
    </thead>
    <tbody *ngFor="let request of cleaningRequests">
        
        <tr [ngClass]="getBackGroundColor(request.status)">

        <td style="background-color: inherit !important;">{{ request.room.name }}</td>
        <td style="background-color: inherit !important;">{{ request.requestedAt }}</td> 

        <td style="background-color: inherit !important;">{{ request.startTime ? request.startTime : 'N/A'  }}</td> 
        <td style="background-color: inherit !important;">{{request.startTime ? getCleaningDuration(request.startTime, request.endTime) : 'N/A'}}</td> 
        <td style="background-color: inherit !important;">{{ request.message }}</td>
        <td style="background-color: inherit !important;">{{ request.status }}</td>
        <td style="background-color: inherit !important;">{{ request.userFirstName }}</td>
        <td style="background-color: inherit !important;">{{ request.userLastName }}</td>
        
        <td style="background-color: inherit !important;">
            
            <div *ngIf="request.status=='ON HOLD'">
                <button  style="background: none;border: none;" (click)="accepteRequestModal(request)">
                    ➕ Accept
                  </button>
                  <button style="background: none;border: none;">
                    ❌ Reject
                  </button>
            </div>
       
          </td>
      

      </tr>
     
    </tbody>
  </table>
</div>







<div class="modal fade" id="SetCleaningStatuseModal" tabindex="-1" aria-labelledby="SetCleaningStatuseModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="maintenanceModalLabel" style="text-align: center;">Set cleaning period:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        
       
        <div class="card w-100 border-0 shadow-sm ms-0" *ngIf="selectedRequest">
          <div class="card-body p-3">
            <h3 class="text-center text-primary mb-3">{{selectedRequest.room.name}}</h3>
            <form (ngSubmit)="acceptRequest()">
              <div class="mb-3">
                <label class="form-label">Start Date</label>
                <input type="datetime-local" class="form-control" [(ngModel)]="startDate" name="startDateTime" required>
              </div>
              <div class="mb-3">
                <label for="cleaningDuration" class="form-label">Cleaning duration in minutes</label>
                <input type="number" class="form-control" id="cleaningDuration" [(ngModel)]="cleaningDuration" name="cleaningDuration" min="10" max="45" required />
              </div>
              <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
          </div>


          <div class="mb-3" *ngIf="roomBookings.length > 0">
            <label class="form-label fw-bold">Booking Timeline</label>
            <div class="d-flex flex-column gap-2 border p-2 rounded bg-light" 
                 style="max-height: 250px; overflow-y: auto;">
              <div *ngFor="let booking of roomBookings" 
                   class="border rounded p-2 bg-warning text-dark small">
                📅 {{ booking.start | date: 'MMM d, y, h:mm a' }} <br>
                ⏳ {{ booking.end | date: 'MMM d, y, h:mm a' }}
              </div>
            </div>
          </div>
          
          <div class="mb-3" *ngIf="roomBookings.length == 0">
            No upcoming bookings
          </div>
          


        </div>
        
        
        


      </div>
    </div>
  </div>
</div>