<div class="d-flex align-items-center" style="height: 90vh;">
    <div class="container d-flex justify-content-center">
      <div class="card w-50">
        <div class="card-body" style="background-color: #f2f7fa;">
          <div class="row align-items-stretch">
            
            <h1 class="pb-3">Add Room</h1>
  
            <div class="d-flex flex-column">
              <div class="h-100 d-flex flex-column justify-content-center">
              
                <div class="row">
                  <div class="col-12">
                    <label for="roomname">Room Name</label>
                    <input type="text" id="roomname" class="form-control" [(ngModel)]="newRoom.roomName">
                  </div>
                </div>
  
                <div class="row mt-3">
                  <label for="roomname">Location</label>
                  <select class="form-select" aria-label="Default select example" style="width: 96.5%;margin-left: 10px;" [(ngModel)]="newRoom.location">
                      <option *ngFor="let location of locations" value="{{location}}">{{location}}</option>
                    </select>
                  </div>

                <div class="row mt-3">
                    <div class="col-12">
                      <label for="description">Description</label>
                      <textarea id="description" class="form-control" [(ngModel)]="newRoom.description"></textarea>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                      <label for="capacity">Capacity</label>
                      <input type="number" id="capacity" class="form-control" [(ngModel)]="newRoom.capacity">
                    </div>
                </div>

                <!-- Equipment Selection Section -->
                <div class="row mt-4">
                    <div class="col-12">
                        <label>Select Equipment</label>
                        <div *ngFor="let equipment of allEquipments" class="mb-1">
                            <input type="checkbox" id="equip{{equipment.equipmentId}}" class="form-check-input" (change)="addEquipment(equipment.equipmentId, $event)"/>
                            <label id="equipmentLabel" for="equip{{equipment.equipmentId}}">{{ equipment.name}}</label>
                        </div>
                    </div>
                </div>
  
                <div class="row mt-4">
                  <div class="col text-center">
                    <button class="btn btn-primary mx-2" (click)="addNewRoom()">Add Room</button>
                  </div>
                </div>
  
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
</div>
