/* You can add global styles to this file, and also import other style files */
.body{
    background-color: #68adea
}
.input {
    width: 200px !important; /* Initial width */
    padding: 10px !important;
    font-size: 16px !important;
    border: 2px solid #f44646 !important;
    border-radius: 5px !important;
    transition: width 0.3s ease !important; /* Smooth transition */
  }
  
  .input:hover {
    width: 250px !important; /* New width on hover */
  }