<ul class="nav nav-tabs px-5">
  
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeTab === 'upcoming'"  (click)="selectTab('upcoming')">Upcoming</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  [class.active]="activeTab === 'completed'"  (click)="selectTab('completed')">Completed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeTab === 'cancelled'"  (click)="selectTab('cancelled')">Cancelled</a>
  </li>
</ul>

<main>
  <div class="container">
    <div *ngIf="selectedBookings.length > 0" style="background-color: white; padding-top: 20px;">
    <h3 *ngIf="selectedBookings[0].canceled !== true && getDateFromString(selectedBookings[0].startTime)>getCurrentTime()" class="mb-4">Click to cancel</h3>
    <h3 *ngIf="selectedBookings[0].canceled !== true && getDateFromString(selectedBookings[0].startTime)<getCurrentTime()" class="mb-4">Completed bookings</h3>
    <h3 *ngIf="selectedBookings[0].canceled === true" class="mb-4">Canceled bookings</h3>
    
    

</div>

    
    <div *ngIf="selectedBookings.length > 0; else noBookings" class="user-bookings-container">
      <div *ngFor="let booking of selectedBookings" 
           class="user-booking-card" 
           [class.clickable]="isUpcoming(booking)"
           (click)="isUpcoming(booking) && openBookingCancelationForm(booking)"> <!-- disable canceling for cancled bookings -->
        
        <div class="card-header" [class.canceled-header]="booking.canceled === true"> <!-- diffrent color for canceled bookings -->
          <h5>{{ booking.room.name }}</h5>
          <p>{{ booking.room.location }} | Capacity: {{ booking.room.capacity }}</p>
        </div>
        
        <div class="card-body">
          <p><strong>Booking Date</strong> <span><strong>:&nbsp;&nbsp;</strong>{{ booking.startTime | date: 'EEEE, yyyy-MM-dd' }}</span></p>
          <p><strong>Start Time</strong> <span><strong>:&nbsp;&nbsp;</strong>{{ booking.startTime | date: 'h:mm a' }}</span></p>
          <p><strong>End Time</strong> <span><strong>:&nbsp;&nbsp;</strong>{{ booking.endTime | date: 'h:mm a' }}</span></p>
        </div>
      </div>
    </div>
    
    <ng-template #noBookings>
      <p class="text-center mt-4">{{ getNoBookingMessage() }}</p>
    </ng-template>
  </div>
</main>



<!-- Modal to cancel booking -->
<div class="modal fade" id="cancelBookingModal" tabindex="-1" aria-labelledby="cancelBookingModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel" style="text-align: center;">Please confirm if you wish to cancel this booking:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        
        
        <div class="booking-details-container">
          <div class="booking-details">
            <p><strong>Room</strong> <span>:&nbsp;&nbsp;&nbsp; {{ selectedBooking?.room?.name }}</span></p>
            <p><strong>Booking Date</strong> <span>:&nbsp;&nbsp;&nbsp; {{ selectedBooking?.startTime | date: 'EEEE, yyyy-MM-dd' }}</span></p>
            <p><strong>Start Time</strong> <span>:&nbsp;&nbsp;&nbsp; {{ selectedBooking?.startTime | date: 'h:mm a' }}</span></p>
            <p><strong>End Time</strong> <span>:&nbsp;&nbsp;&nbsp; {{ selectedBooking?.endTime | date: 'h:mm a' }}</span></p>
          </div>
        </div>
        
        
        
        
        <form>
            <!-- button click cause page reload, toastnotif will not work, neither console.log instead cancelbooking
            this is why we add $event.preventDefault() 
            -->
            <button type="submit" class="btn btn-danger" (click)="cancelBooking(selectedBooking!.bookingId); $event.preventDefault()">Cancel Booking</button>
          </form>
    


      </div>
    </div>
  </div>
</div>
