<ul class="nav nav-tabs px-5">
  
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeTab === 'main'"  (click)="selectTab('main')">Main Building</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  [class.active]="activeTab === 'east'"  (click)="selectTab('east')">East Wing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [class.active]="activeTab === 'west'"  (click)="selectTab('west')">West Wing</a>
  </li>
</ul>


 <div *ngIf="selectedRooms.length > 0" class="rooms-container">

     <div class="container d-flex flex-column justify-content-center align-items-center text-center">
    <h1>Room Deletion</h1>
    <div>
        <span class="text-muted">Click on a room below to review and confirm deletion</span>
    </div>
    </div>



      <div *ngFor="let room of selectedRooms" class="rooms-card clickable" (click)="showDeleteForm(room)"> <!-- clickable, otherwise click will not work-->
        
        <div class="card-header bg-gradient"> 
          <h5>{{ room.name }}</h5>
          
        </div>
        
        <div class="card-body">
          <p><strong>Description</strong> <span><strong>:&nbsp;&nbsp;</strong>{{ room.description}}</span></p>
          <p><strong>Capacity</strong> <span><strong>:&nbsp;&nbsp;</strong>{{ room.capacity }}</span></p>
        
        </div>
       
      </div>
    </div>





<div class="modal fade" id="deleteRoomModal" tabindex="-1" aria-labelledby="deleteRoomModalLabel">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteRoomModalLabel" style="text-align: center;">Please confirm deletion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center;">
          
            
            <div class="room-details-container mb-5">
                <div class="room-details" *ngIf="selectedRoom != null">
                    <p><strong>Room :</strong> <span>{{ selectedRoom.name }}</span></p>
                    <p><strong>Location :</strong> <span>{{ selectedRoom.location }}</span></p>
                    <p><strong>Description :</strong> <span>{{ selectedRoom.description }}</span></p>
                    <p><strong>Capacity :</strong> <span>{{ selectedRoom.capacity }}</span></p>
                </div>
            </div>
            
                        
          
        <button type="submit" class="btn btn-danger" (click)="deleteRoom(selectedRoom.roomId)">Delete Room</button>
            
      
  
  
        </div>
      </div>
    </div>
  </div>