.location-container {
    margin-bottom: 20px;
}


.location-btn {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 12px 15px;
    font-size: 16px;
    background-color: #17a2b8;


    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    color: #ffffff;


}


.location-btn i:hover {
    background-color: #870000;


}


.location-btn i {
    margin-right: 10px;
}


.room-list {
    padding-left: 20px;
    margin-top: 10px;


    background-color: #f8f9fa;


    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.room-item {
    padding: 12px;
    border-bottom: 1px solid #ddd;


    transition: background-color 0.3s ease;
}


.room-item:last-child {
    border-bottom: none;
}


.room-item:hover {
    background-color: #e9ecef;


}


.room-link {
    display: flex;
    justify-content: space-between;
    color: #495057;


    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s ease;
}


.room-link:hover {
    color: #007bff;


}

.room-details {
    display: grid;
    grid-template-columns: 120px auto; /* Fixed width for labels, auto for values */
    gap: 15px 10px; /* Space between columns and rows */
    text-align: left;
    max-width: 600px; /* wrapping */
}

.room-details p {
    display: contents; /* Removes block-level box around each paragraph */
}

.room-details strong {
    text-align: right; /* Aligns labels to the right side */
}

.room-details span {
    padding-left: 10px; /* Space between colon and the value */
}


